#bgdiv {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("ttfbg.jpg");
    opacity: 1;
    background-size: cover;
}

